.btn {
    width: 160px;
    padding: 23px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 38px;

    background-color: transparent;
    color: #fff;

    font-family: "MyriadProBold";
    font-size: 21px;
    text-transform: uppercase;
    &:hover {
        background-color: #fff;
        color: #e75fa9;
    }
}
