mixin content
    .container
        h4.center Слот за отчёт
        h5.center Выиграй слот на будущий старт, рассказав о прошедшем
        section.row
            .col.l6.m12
                span
                    p
                        | Каждую неделю мы дарим слот на любой российский старт (почти на любой, условия смотри #[u ниже]).

                    p
                        |Всё, что нужно сделать для этого: получить максимум лайков за свои отчёты на нашем сайте. Он может быть один или вы опубликуешь сразу несколько, выложишь их сразу или по мере написания - всё это не влияет на результат конкурса.
                    p
                        |Выигрывает тот, кто соберёт больше лайков с понедельника по воскресенье.
 
            .col.l6.m12
                img.materialboxed(src='/src/assets/img1.png')
        section.row
            .col.l3.m12
                img.materialboxed(src='/src/assets/img2.png')
 
            .col.l9.m12
                h5.pl-20 Пять простых шагов к победе
                ol
                    li 
                        |Зарегистрируйся на triit.ru, если ещё не успел это сделать. Это просто, а через социальные сети можно зарегистрироваться в один клик.
                    li
                        |Отмечайся на соревнованиях, в которых принимал участие, и вводи результаты. Все они сохранятся в твоём профиле.
                    li
                        |Расскажи в отчётах о том, как прошли эти соревнования. Добавь фотографии или видео, опиши, с чем ты столкнулся, что понравилось, а что не очень.
                    li
                        |Позови друзей отдать лайк за твои отчёты. Для этого им тоже надо будет зарегистрироваться, но как ты уже убедился - это быстро и не сложно.
                    li
                        |Собери максимум лайков за неделю и получи свой заслуженный слот на #[u любое] российское соревнование.
        section.row
            .col.s12
                h5 Лидеры этой недели
                
                ul.collapsible.slider-leaders(data-collapsible="accordion")
                    li
                        .collapsible-header
                            span.title Иван Петров - 580 лайков
                        .collapsible-body
                            .row.autoplay
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016

                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15

                    li
                        .collapsible-header
                            span.title Маргарита Сидорова - 340 лайков
                        .collapsible-body
                            .row.autoplay
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016

                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15

                    li
                        .collapsible-header
                            span.title Семён Викторов - 307 лайков
                        .collapsible-body
                            .row.autoplay
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016

                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15

                    li
                        .collapsible-header
                            span.title Фёдор Яковицкий - 203 лайков
                        .collapsible-body
                            .row.autoplay
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016

                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15

                    li
                        .collapsible-header
                            span.title Тамар Углова - 580 лайков
                        .collapsible-body
                            .row.autoplay
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016

                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15

                    li
                        .collapsible-header
                            span.title Иван Петров - 580 лайков
                        .collapsible-body
                            .row.autoplay
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016

                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15

                    li
                        .collapsible-header
                            span.title Иван Петров - 580 лайков
                        .collapsible-body
                            .row.autoplay
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016

                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15
                                .col.s12.m3
                                    .card
                                        .card-content.pd-10
                                            .personal-info
                                                .avatar.left
                                                div
                                                    .name Иван Петров
                                                    .date 15.10.2016
                                            .desc-card 
                                                | Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016 Эмоции первой в жизни железной дистанции IRONSTAR Sochi 2016
                                        .card-image
                                            img(src='/src/assets/img2.png')
                                            .card-title 
                                                | IRONSTAR Sochi 2016
                                                i.fa.fa-flag.icon-title Сочи, Россия
                                                i.fa.fa-calendar-o.icon-title Вс 15.09.2016
                                        .card-content.pd-10.icon
                                            i.fa.fa-eye.fonts.left 412
                                            i.fa.fa-heart-o.fonts.left 78
                                            i.fa.fa-comment-o.fonts.left 15

                .open-list Полный список участниеов и лидеров