mixin content
    section.block
        .block-img
            img.block-img-photo(src='./assets/images/photo.png')

        .block--mod.block-header
            .block-header-logo
            h1.block-header-title Boyfriend wanted
            h2.block-header-subtitle Hot asian girl urgently needs a male
        .block--mod.block-desc
            .block-desc-list-title Our site Features:
            ul.block-desc-list 
                li.block-desc-list-item Send and receive messages using the internal email system
                li.block-desc-list-item Video chat based online help from beautiful hostesses
                li.block-desc-list-item Watch a live video stream from any lady that’s online 
                li.block-desc-list-item Losts of professional quality photographs of every lady
                li.block-desc-list-item Most profiles have an introductory video
                li.block-desc-list-item Travel assistance availiable when you are ready to meet in the flesh
        .block--mod.block-bottom
            .block-btn
                h2.block-btn-title Are you older then 20?
                +button('Yes')(class='block-btn-left')
                +button('No')(class='block-btn-right')
            .block-counter
                h2.block-counter-title Registretion Open #[br] and Free for Limited Time
                .block-counter-clock

