mixin header
    header.container
        ul.dropdown-content(id='dropdown1')
            li 
                a(href='#') Личный кабинет
            li.divider
            li
                a(href='#') История
            li.divider
            li
                a(href='#') Выход
        nav.top-menu
            .nav-wrapper
                a.brand-logo(href='#')
                    img(src='/src/assets/logo.png')
                ul.right.hide-on-med-and-down
                    li
                        a(href='#') 
                            i.material-icons.left dashboard
                            span Новости
                    li
                        a.active(href='#') 
                            i.material-icons.left flag
                            span Соревнования
                    li
                        a(href='#') 
                            i.material-icons.left description
                            span Отчеты
                    li
                        a.dropdown-button(href='#' data-activates='dropdown1') 
                            img.top-menu-avatar(src='/src/assets/avatar.png')
