mixin footer
    footer.row.container.footer
            ol.col.l6.m12.list-rules Правила и ограничения:
                li
                    |Регистрация на соревнование должна быть открыта и оплата должна быть доступна в онлайне.
                li
                    |Стоимость слота не должна превышать 5000 руб. Мы оплачиваем только один слот и только целиком.
                li
                    |Мы не платим приз деньгами, борзыми щенками и как-то ещё. Просто оплачиваем слот.
