include ./components/index

html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Слот за отчет
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
		script(src="https://use.fontawesome.com/eb0a93d89e.js")
	body
		+header()
		+content()
		+footer()
		